body {
  background-image: url(ServerBackGround.png);
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  }
  
  .Topbar {
position: fixed;
width: 100%;
z-index: 50;
  }
  .links{
    padding: 1rem;
    background-color: rgb(69, 69, 80);
    list-style-type: none;
    height: 5rem;
    display: flex;
    margin-top: 0px;
  }
  .box{
    font-family: -apple-system;
    text-shadow: 4px 4px 0 #000000;
    border: 5px solid rgb(41, 44, 71);
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 700;
  }

  .Back{
    font-family: -apple-system;
    text-shadow: 4px 4px 0 #000000;
    padding-left: 1rem;
    padding-right: 15rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    font-size: 1.5rem;
    line-height: 3.5rem;
    font-weight: 700;
  }

  .current{
    color: gold;
    text-shadow: 5px 5px 0 #000000;
  }
  a {
  
    text-decoration: none;
  }
  
  a:link {
    color: rgb(231, 225, 225);
  }
  
  a:visited {
    color: rgb(231, 225, 225);
  }
  
  .box:hover{
    transition: 1.5s;
    border:5px solid blue;
  }
  a:hover {
    transition: .1s;
    color: rgb(212, 211, 205);  

  }
  
  a:active {
    color: rgb(231, 225, 225);
  }
  .gold{
    color: rgb(145, 0, 182);
  }