body{
    color: white;
    
}

#FixedLeft{
    background-color: rgba(128, 128, 128, 0.5);
    flex-direction: column;
    display: flex;
    position: fixed;
    height: 100vh;
    width: 30%;
    backdrop-filter: blur(16px);
}

#ClockContainer{
  width: 15%;
  padding-left: 15%;
}

#FixedRight{
  padding-left: 35%;
  padding-right: 5%;
  flex-direction: row;
  display: fixed;
  height: 100%;
  width: 60%;
}

#ToDoListContainer{
    padding-left: 1rem;
}
#taskList{
    font-size: large;

}

.deleteBtn{
    background-color: red;
    border-color: red;
}

button{
    margin-left: 10px;
}


#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}
#video-background video {
  min-width: 100%;
  min-height: 100%;
}


#taskInput{
    background-color: rgb(255, 255, 255);
    color: blue;
}

#addTaskBtn{
    background-color: green;
    border-color: green;
    color: black;
}

.accordion {
    background-color: rgb(191, 203, 191);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: rgb(114, 116, 121);
    color: white;
  }
  
  .panel {
    color: white;
    padding: 0 18px;
    background-color: rgba(44, 43, 43, 0.456);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

  .WebsiteButtons{
    padding: 1rem;
    border-radius: 12px;
    width: 100%;
    text-decoration: none;
    font-size: large;
  }

  a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(5, 0, 0);
    text-decoration: none;
  }

  #clock {
    font-size: 20px;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
}
  