body{
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;

}
  
  .Topbar {
position: fixed;
width: 100%;
z-index: 50;
  }
  .links{
    padding: 1rem;
    background-color: rgb(69, 69, 80);
    justify-content: center;
    list-style-type: none;
    height: 5rem;
    display: flex;
    margin-top: 0px;
  }
  .box{
    font-family: -apple-system;
    text-shadow: 4px 4px 0 #000000;
    border: 5px solid rgb(41, 44, 71);
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 700;
  }
  .current{
    color: gold;
    text-shadow: 5px 5px 0 #000000;
  }
  a {
  
    text-decoration: none;
  }
  
  a:link {
    color: rgb(231, 225, 225);
  }
  
  a:visited {
    color: rgb(231, 225, 225);
  }
  
  .box:hover{
    transition: 1.5s;
    border:5px solid blue;
  }
  a:hover {
    transition: .1s;
    color: rgb(212, 211, 205);  

  }
  
  a:active {
    color: rgb(231, 225, 225);
  }
.left{
    background-color: rgba(128, 128, 128, 0.5);
    justify-content: center;
    flex-direction: column;
    display: flex;
    position: fixed;
    height: 100vh;
    width: 30%;
    backdrop-filter: blur(16px);
    align-items: center;
}    
.right{
  height: 100%;
    padding-left: 35%;
    padding-right: 6rem;
    padding-top: 150px;
    padding-bottom: 2rem;
}
.button{
  align-items: center;
  justify-content: center;
background-color: rgb(85, 85, 85);
color: white;
padding: 15px;
cursor: pointer;
text-decoration: none;
width: 100;
text-align: center;
border-radius: 5px;
font-size: 20px;
}

.darkgold{
  color: rgb(235, 181, 45);
}
.blue{
  color: rgb(77, 192, 42);
}






.accordion {
  background-color: rgb(191, 203, 191);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: rgb(114, 116, 121);
  color: white;
}



.panel {
  color: white;
  padding: 0 18px;
  background-color: rgba(44, 43, 43, 0.456);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; 
}