body {
  color: rgb(230, 230, 230);
  background-color: rgb(49, 49, 49);
}

.Topbar {
position: fixed;
width: 100%;
z-index: 50;
}
.links{
  padding: 1rem;
  background-color: rgb(69, 69, 80);
  justify-content: center;
  list-style-type: none;
  height: 5rem;
  display: flex;
  margin-top: 0px;
}
.box{
  font-family: -apple-system;
  text-shadow: 4px 4px 0 #000000;
  border: 5px solid rgb(41, 44, 71);
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 700;
}
.current{
  color: gold;
  text-shadow: 5px 5px 0 #000000;
}
a {

  text-decoration: none;
}

a:link {
  color: rgb(231, 225, 225);
}

a:visited {
  color: rgb(231, 225, 225);
}

.box:hover{
  transition: 1.5s;
  border:5px solid blue;
}
a:hover {
  transition: .1s;
  color: rgb(212, 211, 205);  

}

a:active {
  color: rgb(231, 225, 225);
}
.WELCOME{
  font-size: x-large;
}
.p1{
  color: rgb(182, 182, 182);
  display: grid;
  padding-left: 10rem;
  padding-right: 10rem;
  align-items: center;
  text-align: center;
}
.showcase{
  display: grid;
  color: rgb(117, 117, 151);
  grid-template-columns: 1fr 1fr;
  padding-left: 5rem;
  padding-right: 5rem;
  justify-content: center;
  justify-items: center;
}
