body{
    background-image: url(ServerBackGround.png);
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
}
#topbar{
width: 100%;
z-index: 50;
}

#CurrentSkyblockYear{
  font-family: -apple-system;
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 700;
}

.links{
    background-color: rgba(255, 255, 255, 0);
    list-style-type: none;
    height: 5rem;
    display: flex;
    margin-top: 0px;
  }

  .Back{
    color: white;
    font-family: -apple-system;
    padding-left: 1rem;
    padding-right: 15rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    font-size: 1.5rem;
    line-height: 3.5rem;
    font-weight: 700;
  }



.PreviousElectionInfoTable{
    width: 100%;
}

.CurrentElectionInfoTable{
    width: 100%;
}

.CurrentMayorTable{
    width: 100%;
}
td{
    border: 2px solid rgb(138, 133, 133);
    text-align: center;
}

th{
    border: 2px solid rgb(224, 215, 215);
}

.accordion {
    background-color: rgba(233, 210, 210, 0.486);
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
  }
  
  .active, .accordion:hover {
    background-color: rgb(114, 116, 121);
    color: white;
  }
  
  .panel {
    color: white;
    padding: 0 18px;
    background-color: rgba(44, 43, 43, 0);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 20px;
  }
  .accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

  a {
    text-decoration: none;
  }
  
  a:link {
    color: rgb(231, 225, 225);
  }
  
  a:visited {
    color: rgb(231, 225, 225);
  }